<!-- Expense form design -->
<div class="expense-form">
  <!-- Expenase page heading -->
  <h2 class="title">Add Expense</h2>
  <form [formGroup]="expenseForm" (ngSubmit)="navigateDashboard()">
    <div class="form-group">
      <!-- Description container -->
      <label for="descript">Description</label>
      <input type="text" id="descript" formControlName="descript">
      <div *ngIf="expenseForm.get('descript')?.invalid && (expenseForm.get('descript')?.dirty || expenseForm.get('descript')?.touched)" class="error">
        Description is required.
      </div>
    </div> 
    <!-- Currencies container -->
    <div class="form-group">
      <label for="currencies">Currencies:</label>
      <select>
        <option value="default">----</option>
        <option *ngFor="let cur of currencies" [value]="cur">{{cur}}</option>
      </select>
      <div *ngIf="expenseForm.get('currencies')?.invalid && (expenseForm.get('currencies')?.dirty || expenseForm.get('currencies')?.touched)" class="error">
        Currency chosse is required
      </div>
    </div>
    <!-- Amount container -->
    <div class="form-group">
      <!-- Description container -->
      <label for="amount">Amount</label>
      <input type="number" id="amount" formControlName="amount">
      <div *ngIf="expenseForm.get('amount')?.invalid && (expenseForm.get('amount')?.dirty || expenseForm.get('amount')?.touched)" class="error">
        Amount is required.
      </div>
    </div> 
    <!-- 
      Date container
     -->
     <div class="form-group">
      <!-- Date container -->
      <label for="dat">Date</label>
      <input type="date" id="dat" formControlName="date">
    </div>
    <!-- Group Container -->
    <div class="form-group">
      <label for="grp">Select Group:</label>
      <select>
        <option value="default">----</option>
        <option *ngFor="let grp of group" [value]="grp">{{grp}}</option>
      </select>
      <div *ngIf="expenseForm.get('grp')?.invalid && (expenseForm.get('grp')?.dirty || expenseForm.get('grp')?.touched)" class="error">
        Currency chosse is required
      </div>
    </div>
    <!-- Split Equally Container -->
    <div class="form-group">
      <label for="split">Split:</label>
      <select>
        <option value="default">----</option>
        <option value="Equally">Equally</option>
      </select>
      <div *ngIf="expenseForm.get('grp')?.invalid && (expenseForm.get('grp')?.dirty || expenseForm.get('grp')?.touched)" class="error">
        Currency chosse is required
      </div>
    </div>
    <!-- Chosse Participants -->
    <div class="form-group">
      <label>Select particpant</label>
      <div *ngFor="let item of member">
        <input type="checkbox" formControlName="item">{{item}}
      </div>
    </div>
    <!-- Button container -->
    <div class="button-group">
      <button class="cancel-btn" >Cancel</button>
      <button class="save-btn" type="submit" [disabled]="expenseForm.invalid">Save</button>
    </div>
  </form>
</div>