<!-- Expesne list container -->
<div class="friend-list">
  <h2>Expense List</h2>
<table>
  <!-- Expense List container heading -->
  <thead>
    <tr>
      <th>Name</th>
      <th>Who Paid?</th>
      <th>You Lent/Borrow</th>
      <th>Edit Expense</th>
    </tr>
  </thead>
  <!-- Expense list body container -->
  <tbody>
    <tr *ngFor="let expense of expenses; let i = index">
      <td>{{ expense.name }}</td>
      <td>{{ expense.paidBy }}</td>
      <td>{{ expense.lentOrBorrowed }}</td>
      <td><button (click)="editExpense()"><i class="fa-solid fa-pen-to-square"></i></button></td>
    </tr>
  </tbody>
</table>
<button type="button" class="back-btn" (click)="navigateDashboard()">Back</button>
</div>


