<!-- Friend list container -->
<div class="friend-list">
  <h2>Friend List</h2>
<table>
  <!-- Friend List container heading -->
  <thead>
    <tr>
      <th>Name</th>
      <th>Delete</th>
      <th>Edit</th>
    </tr>
  </thead>
  <!-- Friend list body container -->
  <tbody>
    <tr *ngFor="let name of names let i = index;">
      <td>{{ name}}</td>
      <td><button class="delete-btn p10 m10" (click)="deleteName(i)"><i class="fa-sharp fa-solid fa-trash"></i></button></td>
      <td><button class="edit-btn p10 m10" (click)="navigateEditFriend()"><i class="fas fa-edit"></i></button></td>
    </tr>
  </tbody>
</table>
<!-- Friend list button container -->
<button type="button" class="back-btn" (click)="navigateDashboard()">Back</button>
</div>

