@import "/src/app/layout/color.scss";
//Settle up from design
.settle-up-form {
  max-width: 800px;
  margin: auto;
  border-radius: 15px;
  background-color: $white;
  box-shadow: 0px 4px 8px $black;
  padding: 20px 50px;
  overflow-x: hidden;
  //Settle up title design
  .title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  //Form design
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .form-group {
      display: flex;
      flex-direction: column;
      gap: 5px;
      //Label design
      label {
        font-weight: bold;
      }
      //Input field design
      input[type="number"],
      select,
      textarea {
        width : 40vw;
        padding: 5px;
        border: 1px solid $light-black;
        border-radius: 5px;
        font-size: 16px;
      }
    }
    //All button design
    .button-group {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      button {
        padding: 10px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
      }
      //Cancel button design
      .cancel-btn {
        background-color: $green;
        color: $white;
        border: none;
        transition: background-color 0.2s ease-in-out;

        &:hover {
          color: $green;
          background-color: $white;
        }
      }
      //Save button design
      .save-btn {
        background-color: $green;
        border: none;
        transition: background-color 0.2s ease-in-out;
        &:disabled {
          background-color: $green;
          color: $white;
          cursor: not-allowed;
        }
        &:hover {
          background-color: $green;
          color: $white;
        }
      }
    }
  }
}
