@import "./layout/color.scss";
@import "./layout/home.scss";
@import "./layout/navBar.scss";

// Main component css
main {
  margin-top: 20px;
  //Container css
  .container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

