<!-- Home component -->
<div class="home-container">
  <!-- Header Component -->
  <header>
    <div class="nav-header">
      <img class="nav-img" src="../assets/splitwiseLogo.jfif" />
      <div class="log-sign">
        <div class="nav-log" (click)="navigateLogin()">
          <button>Login</button></div>
        <div class="nav-signUP" (click)="navigateSignup()">
          <button>Sign up</button>
        </div>
      </div>
    </div>
  </header>
  <!-- Main Component -->
  <main>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>