<div class="container-form">
    <!-- Form Div -->
    <div class="signin-div"><img src="../../../assets/splitwiseLogo-sign.png" alt="splitwiseLogo">INTRODUCE YOURSELF</div>
      <form [formGroup]="registerForm"  (ngSubmit)="navigateDashboard()">
        <div>
          <!-- Name -->
          <label for="uname">Name </label>
          <input type="text" placeholder="Enter Username" formControlName="user_name" id="uname" required>
          <div *ngIf="registerForm.get('user_name')?.invalid && registerForm.get('user_name')?.touched" class="warning">
            Name is required
          </div>
          <!-- Email field -->
          <label for="email">Email address</label>
          <input type="email" placeholder="Enter your email address" formControlName="user_email" id="email" required>
          <div *ngIf="registerForm.get('user_email')?.invalid && registerForm.get('user_email')?.touched" class="warning">
            Email Address is required
          </div>
          <!-- Password -->
          <label for="psw">Password</label>
          <input type="password" placeholder="Enter Password" formControlName="user_psw" id="psw" required>
          <div *ngIf="registerForm.get('user_psw')?.invalid && registerForm.get('user_psw')?.touched" class="warning">
            Password is required
          </div>
          <!-- Button -->
          <button [disabled]="registerForm.invalid"type="submit">Sign me up!</button>
        </div>
      </form>
</div>
  
