<!-- Group list container -->
<ng-container
 *ngIf="group_list" >
<!-- Group list container -->
<div class="group-list">
  <h2>Group List</h2>
<table>
  <!-- Group List container heading -->
  <thead>
    <tr>
      <th>Name</th>
      <th>Delete</th>
      <th>Edit</th>
    </tr>
  </thead>
  <!-- Group list body container -->
  <tbody>
    <tr *ngFor="let name of group_names let i = index;">
      <td>{{ name}}</td>
      <td><button class="delete-btn p10 m10" (click)="deleteName(i)"><i class="fa-sharp fa-solid fa-trash"></i></button></td>
      <td>  <button class="grp-detail-btn p10 m10" (click)="navigateGroupDetails(i)"><i class="fa-solid fa-circle-info"></i></button></td>
    </tr>
  </tbody>
</table>
<!-- group list back button -->
<button type="button" class="back-btn" (click)="navigateDashboard()">Back</button>
</div>
</ng-container>
<!-- Group details container -->
<ng-container
 *ngIf="group_details" >
 <div class="group-list">
  <h2>{{selected_group_name}}</h2>
<table>
  <!-- Group List container heading -->
  <thead>
    <tr>
      <th>Member Name</th>
      <th>Transaction</th>
      <th>Expense</th>
    </tr>
  </thead>
  <!-- Group list body container -->
  <tbody>
    <tr *ngFor="let member of group_detail">
      <td>{{member.member_name}}</td>
      <td>{{member.transaction}}</td>
      <td>{{member.expense}}</td>
    </tr>
  </tbody>
</table>
<button type="button" class="back-btn" (click)="navigateGroupList()">Back</button>
</div>
</ng-container>

