@import '/src/app/layout/color.scss';
//Dashboard container
.dashboard-container {
    font-family: Arial, sans-serif;
  
    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 1rem;
  
      .logo-container {
        img {
          width: 80px;
        }
      }
  //Menu conatiner
      .menu-container {
        ul {
          display: flex;
          list-style-type: none;
  
          li {
            margin-right: 2rem;
            font-size: 1.2rem;
            font-weight: bold;
            color: #888;
  
            &:hover {
              color: #333;
              cursor: pointer;
            } 
          }      
        }
      }
    }
    //Button design container
    .button-design {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    
        button {
          display: block;
          margin: 0 ;
          padding: 10px 15px;
          background-color: $green;
          color: $white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
  
        button:hover {
          background-color: $white;
          color: $green;
        }
      }
      //Balance container design
    .balance-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f5f5f5;
      padding: 2rem;
  //Balance Item container design
      .balance-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
  
        .balance-label {
          font-weight: bold;
          margin-bottom: 0.5rem;
        }
  
        .balance-amount {
          font-size: 2rem;
          font-weight: bold;
          color: #333;
        }
  
        &:not(:last-child) {
          border-right: 1px solid #ccc;
          padding-right: 2rem;
          margin-right: 2rem;
        }
      }
  //Select button design
      .settle-up-button {
        background-color: #0070c9;
        color: #fff;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 0.8rem 2rem;
        border-radius: 4px;
        border: none;
        transition: background-color 0.2s ease-in-out;
  
        &:hover {
          background-color: #005aaa;
        }
      }
    }
  //Expense design container
    .expenses-container {
      margin-top: 3rem;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 2rem;
  
      .expenses-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        h2 {
          font-size: 1.5rem;
          font-weight: bold;
          margin: 0;
        }

        .add-expense-button {
          background-color: #0070c9;
          color: #fff;
          font-size: 1.2rem;
          font-weight: bold;
          padding: 0.8rem 2rem;
          border-radius: 4px;
          border: none;
          transition: background-color 0.2s ease-in-out;
  
          &:hover {
            background-color: #005aaa;
          }
        }
      }
  } 
}
//Media querry merge
@media only screen and (max-width: 650px) {
  .dashboard-container {
    .header-container {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      
      .logo-container {
        margin-bottom: 1rem;
      }
      
      .menu-container {
        margin-top: 1rem;
        ul {
          flex-direction: column;
          
          li {
            margin-right: 0;
            margin-bottom: 1rem;
          }
        }
      }
    }
    
    .balance-container {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      
      .balance-item {
        margin-bottom: 1rem;
        
        &:not(:last-child) {
          border-right: none;
          padding-right: 0;
          margin-right: 0;
        }
      }
    }
    
    .expenses-container {
      padding: 1rem;
      
      .expenses-header {
        flex-direction: column;
        align-items: flex-start;
        
        .add-expense-button {
          margin-top: 1rem;
        }
      }
    }
  }
}

       

