
<!-- Transaction container -->
<div class="transaction-list">
    <h2>Transaction History</h2>
    <table>
      <!-- Transaction container heading -->
      <thead>
        <tr>
          <th>Amount</th>
          <th>Paid by</th>
          <th>Paid to</th>
          <th>Group</th>
        </tr>
      </thead>
      <!-- Transaction body container -->
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.payer }}</td>
          <td>{{ transaction.payee }}</td>
          <td>{{ transaction.group }}</td>
        </tr>
      </tbody>
    </table>
    <!-- Back button -->
    <button type="button" class="back-btn" (click)="navigateDashboard()">Back</button>
  </div>