@import "/src/app/layout/color.scss";
.container-form {
  width: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0px 4px 8px $black;
  padding: 50px;
  .login-div {
    font-size: xx-large;
    margin: 8px 0;
  }
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid $inp-color;
    box-sizing: border-box;
  }
  .warning{
    color:$warning;
  }
  button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    color: $white;
    background-color: $green;
    border-style: none;
    border-radius: 2px;
  }
  button:hover {
    opacity: 0.8;
  }
}
@media (max-width: 680px) {
  .container-form{
    width: 300px;
  }
}