
  
  <div class="container-form">
    <div class="login-div">Log in</div>
      <form [formGroup]="loginForm"  (ngSubmit)="onLogin();navigateDashboard()">
        <div>
          <label for="uname">Email address</label>
          <input type="text" placeholder="Enter Username" formControlName="user_email"required>
          <div *ngIf="loginForm.get('user_email')?.invalid && loginForm.get('user_email')?.touched" class="warning">
            Email Address is required
          </div>
          <label for="psw">Password</label>
          <input type="password" placeholder="Enter Password" formControlName="user_psw" required>
          <div *ngIf="loginForm.get('user_psw')?.invalid && loginForm.get('user_psw')?.touched" class="warning">
            Password is required
          </div>
          <button [disabled]="loginForm.invalid"type="submit">Login</button>
        </div>
      </form>
  </div>
  